.actionsContainer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: relative;
	width: 200px;
	background: #272727;
	padding: 0 10px;

	.liveContainer {
		position: absolute;
		bottom: 10px;
		padding: 0 10px;
		width: 100%;
		box-sizing: border-box;
	}
}
