.characterImageContainer {
	position: absolute;
	top: -100vh;
	left: 0;
	right: 0;
	height: 102vh;
	z-index: 999999;
	background: #2d2d2d;
	transition: top 0.3s ease-in-out;
	transition-delay: 1000;

	&:hover {
		top: 0;
	}

	.characterImage {
		position: absolute;
		bottom: 9.5vh;
		width: 100%;
	}

	.arrow {
		position: absolute;
		bottom: 0;
		right: calc(50% - 15px);
		width: 30px;
	}

	.characterSheet {
		padding: 10px 30px;
		color: white;

		p {
			font-size: 14px;
			margin: 5px 0;

			span {
				float: right;
			}
		}

		.stats {
			margin: 40px 0 20px;
		}

		.listContainer {
			display: flex;
			flex-direction: row;

			ul {
				list-style-image: url('/images/sword.png');
				margin-left: -20px;
			}

			h3 {
				font-size: 16px;
			}

			.list {
				width: 50%;
			}
		}
	}

	.formContainer {
		position: absolute;
		right: 0;
		left: 0;
		bottom: 2vh;
		padding: 0 10px;

		.form {
			position: relative;
			width: 100%;

			.promptText {
				width: 100%;
				padding: 10px;
				margin: 10px 0;
				background-color: #fff;
				border: 1px solid #ccc;
				border-radius: 0.5rem;
				box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
				transition: border-color 0.2s ease-in-out;
				font-family: Helvetica, sans-serif;
				box-sizing: border-box;

				&:active,
				&:focus {
					outline: none;
					box-shadow: 0 0 0 0.2rem rgba(77, 161, 255, 0.25);
				}
			}

			.button {
				position: absolute;
				right: 15px;
				bottom: 15px;
				background-color: #fff;
				border: none;
				border-radius: 5px;
				color: #fff;
				cursor: pointer;
				transition: all 0.2s ease-in-out;

				&:hover {
					background-color: darken(#fff, 10%);
				}

				&:active {
					background-color: darken(#fff, 20%);
				}

				&:disabled {
					background-color: #ccc;
					cursor: not-allowed;
				}
			}
		}
	}
}
