$total: 200;
$time: 10s;

.countdownContainer {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 7;
	transform-style: preserve-3d;
	perspective: 800px;
	height: 100%;
	transition: opacity 0.5s ease-in-out;
	opacity: 1;

	&.faded {
		opacity: 0;
	}

	.counter {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 200px;
		height: 200px;
		background-image: radial-gradient(
			circle at center,
			black 0%,
			#222 10%,
			transparent 60%
		);
		overflow: hidden;
		font-size: 60px;
		color: white;
	}

	.circle {
		position: absolute;
		top: 50%;
		left: 50%;
		border-radius: 50%;
	}
}

@for $i from 1 through $total {
	$size: random(50) * 1px;
	$rotate: random(360) * 1deg;

	.circle:nth-child(#{$i}) {
		width: $size;
		height: $size;
		background-color: hsla(random(360), 100%, 50%, 1);
		margin-left: -$size/2;
		margin-top: -$size/2;
		-webkit-filter: grayscale(1);
		filter: grayscale(1);
		transform: rotate($rotate) translate3d(0, 0, -1500px) scale(0);
		animation: anim#{$i} $time infinite linear;
		animation-delay: $i * -($time/$total);
		opacity: 0;
	}

	@keyframes anim#{$i} {
		0% {
			opacity: 1;
			transform: rotate($rotate * 1.5)
				translate3d(random(1000) * 1px, random(1000) * 1px, 1000px) scale(1);
		}
	}
}
